<%= stylesheet_link_tag    'home', media: 'all' %>
<%= javascript_include_tag 'home' %>
<div class="bg" onload="bgDisco()"></div>
<div class="full">
  <h1>Hi! My name is Gina</h1>
</div>
<div class="nav">
  <button type="button" name="button"></button>
</div>
